{% extends "base.html" %}

{% block title %}
<title>Reset</title>
{% endblock %}
{% block favicon %}
<link rel="icon" type="image/png" sizes="16x16" href="https://i.postimg.cc/PJmtfZ79/LOGO-modified.png' border='0' alt='LOGO-modified">
{% endblock  %}


{% block body %}


{% load custom_filters %}

<nav class="navbar navbar-expand-lg navbar-custom bg-dark">
    <div class="mx-3 m-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="580.619 330.399 907.875 870.595">
            <path xmlns="http://www.w3.org/2000/svg" transform="matrix(1, 0, 0, 1, 1008.0000000000001, 342)"
                d="m0 0h339l19 1 1 5v194l-113 1-5-2v-81h-224l-26 1-26 4-25 7-21 9-21 11-16 11-10 8-13 11-7 7-7 8-12 15-12 19-10 19-8 21-6 21-4 20-1 8-2 44h72l1-39 3-18 5-17 10-22 12-18 11-13 8-8 19-14 18-10 17-6 10-3h4l1 367 14 1 45 1 201 1v-157h-71l-1 83-1 1h-116v-201l3-1h283l20 1 1 1v388l-2 2h-361l-30-3-31-6-26-7-40-14-6-3-1-32v-131l1-6h-73l1 116h-4l-29-29-9-11-12-15-15-23-9-16-8-15-9-21-11-33-5-21-5-30-2-22v-37l3-31 5-26 7-26 8-23 11-25 11-21 14-22 9-12 11-14 22-24 16-15 16-13 18-13 21-13 27-14 25-10 21-7 30-7 25-4z"
                style="fill: #ebac00;" />
        </svg>
        <a class="navbar-brand fs-3 fw-bold mx-1" href="">GatherHub</a>
    </div>
</nav>

<section class="post-box comment-toggle">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card-container  full-screen-post" style="border: none;">
                    <div class="card-body" id="separator">

                        <div>
                            <p class="h4 text-center"><span class="fw-bold h3">Password Reset</span></p>
                        </div>
                        <div class="my-4">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="email" class="form-label fw-bold custom-outline">Enter Your
                                        password</label>
                                    {{ form.new_password1|add_class:"form-control" }}
                                    {% csrf_token %}
                                </div>

                                <div class="mb-3">
                                    <label for="email" class="form-label fw-bold custom-outline">Confirm
                                        Password</label>
                                    {{ form.new_password2|add_class:"form-control" }}
                                    {% csrf_token %}
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" id="password" class="btn w-50 fw-bold text-black"
                                        style="background-color: #ebac00;">Get Reset Link</button>
                                </div>

                                <div class="my-3">
                                <a class="instructions-2" style="text-decoration: none;">
                                    <span class="text-light">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 27" fill="none">
                                            <path d="M12 17H12.01M12 14C12.8906 12.0938 15 12.2344 15 10C15 8.5 14 7 12 7C10.4521 7 9.50325 7.89844 9.15332 9M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        Password Requirements
                                    </span>
                                    
                                    <span class="instructions">
                                        <div class="card ">
                                            <div class="card-body rounded">
                                                <p>Please enter your new password and confirm it. Ensure that your
                                                    password meets the following requirements :
                                                </p>
                                                <ul>
                                                    <li>At least 8 characters long</li>
                                                    <li>Includes both uppercase and lowercase letters</li>
                                                    <li>Contains at least one number</li>
                                                    <li>Contains at least one special character (e.g., !@#$%^&*)</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </span>
                                </a>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
    .form-control:focus {
        border-color: #ebac00;
        box-shadow: inset 0 1px 2px #ebac00, 0 0 5px #ebac00;
    }

    .instructions {
        display: none;
    }

    .instructions-2:hover .instructions {
        display: block;
    }
</style>


{% endblock %}